body{font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    margin: 0;}

    h1{font-size:75px ;}
  .Ore{color: blue;}
  .Na{color: chartreuse;}
  .Wo{color: crimson;}
  .flexible-container{display: flex;}
 .half-width{width:50%;
  padding-left:2%;}
.half-width img{width:95%;}
.link-button{text-decoration: none;
background-color:goldenrod;
padding: 10px 40px;
border-radius: 5px;
font-weight: 700;}
.top-banner{background-image: url(top-banner.png);
background-repeat: no-repeat;}

.flexible-container{display: flex;}
.dream{width:50%;
padding-left:2% ;}
.dream img{width:75%;}

.link-ins{text-decoration: none;
background-color:rgb(189, 132, 218);
padding: 10px 40px;
font-weight: 600;}

.dream-bg{background-image: url(dream-bg.png);
background-repeat:no-repeat ;
margin: 0;
background-position: right;}
.Experians-area{
  width:90%;
  padding: 2%;
background-image: url(exp-bg.png);
background-repeat: no-repeat;
background-position: left;}


.Experians-item{width:40%;
                padding: 2%;
              margin-left: 5% ;
            margin-right: 5%;
          box-shadow: 10px 10px 40px rgb(69, 69, 212);
        border-radius:5px ;
       ;}
h2{font-size:30px ;}
.blue1{color: black;}
.blue2{color: blue;}
#Baby{border-left:10px solid coral ;}
#full{border-left:10px solid cyan;}
footer p{ text-align: center;}


